{
    "discord":
    {
        "customUserName": "Skrunkly",
        "customUserAvatar": "",
        "webhookUrl": "https://discord.com/api/webhooks/yourwebhook",
        "ownerID": "276707898091110400"
    },
    
    "weather": {
        "key": "weatherapi.com API key here",
        "city": "Your City",
        "days": 2,
        "alerts": "Weather alerts in your area, leave value as either 'yes' or 'no'"
    },

    "imgurClientID": "example",
    "coinMarketCapKey": "example"
}